@import "~/assets/myVariables.scss";
.color-pink {
    color: $pink;
}

.v-application--wrap {
    aside.v-navigation-drawer.v-navigation-drawer--clipped.top-80 {
        top: 80px !important;
        .v-navigation-drawer__content {
            .v-list {
                a {
                    color: #ffffff;
                    font-weight: 700;
                    .v-list-item__content {
                        .v-list-item__title {
                            text-transform: uppercase;
                        }
                    }
                }
                a:hover {
                    background-color: $pink;
                }
            }
        }
    }
    header.navbar {
        background-color: rgba(255, 255, 255, 0.12) !important;
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
        .v-toolbar__content {
            a {
                padding: 0 10px;
            }
            a.v-btn:before {
                background-color: transparent;
            }
        }
    }
}

.banner-2 {
    .opcity-images {
        .v-image__image.v-image__image--cover {
            opacity: 0.6;
        }
    }
}


/* ------------------------------- slider-icon ------------------------------ */

.row.container-list-icon {
    margin-left: -35px;
}

.cover-icon {
    .v-avatar {
        .icon-left {
            .v-image__image.v-image__image--cover {
                background-position: left !important;
                margin-left: 26px;
            }
        }
        .icon-center {
            .v-image__image.v-image__image--cover {
                background-position: center !important;
                margin-left: 6px;
            }
        }
        .icon-right {
            .v-image__image.v-image__image--cover {
                background-position: right !important;
                margin-left: -2px;
            }
        }
    }
}

.v-card.card-multiple {
    position: relative;
    display: flex;
    border-radius: 10px !important;
    button {
        left: 50%;
        right: 50%;
        margin-left: -32px;
    }
}


/* ------------------------------- slider-icon ------------------------------ */


/* ------------------------------- mobile-navbar ------------------------------ */

aside.v-navigation-drawer.v-navigation-drawer--clipped.top-60 {
    top: 60px !important;
    .v-navigation-drawer__content {
        .v-list {
            a {
                color: rgba(255, 255, 255, 0.7) !important;
                text-transform: uppercase;
                .v-list-item__icon {
                    i {
                        color: rgba(255, 255, 255, 0.7) !important;
                    }
                }
            }
        }
    }
}

header.navbar-mobile {
    .v-toolbar__content {
        align-items: center;
        padding: 5px;
        .v-toolbar__title {
            margin-bottom: 7px;
            a {
                padding: 0px;
            }
        }
        button.v-btn.v-size--small {
            padding: 0 8.444444px;
            margin: 0 2px;
            .v-btn__content {
                font-size: 0.6rem;
                font-weight: 900;
            }
        }
    }
}


/* ------------------------------- mobile-navbar ------------------------------ */


/* --------------------------------- profile -------------------------------- */

.v-tabs-slider-wrapper {
    height: 3px !important;
}

a.profile-item-link {
    color: #ffffff !important;
}


/* --------------------------------- profile -------------------------------- */

.text-filed {
    .v-input__control {
        .v-input__slot {
            .v-input__append-inner {
                margin-top: 15px !important;
            }
            .v-input__prepend-inner {
                margin-top: 3px !important;
            }
        }
    }
}

.v-skeleton-loader,
.my-shadow,
.v-card.pointer.my-shadow,
.v-card.my-shadow.elevation-0,
.v-expansion-panel::before {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08) !important;
}